Documentation/*.htm
Distributions
*.webloc
*.desktop
*.zip
*.pdf
*.html
*.lst
/sdcc/bin
/sdcc/lib/OTHER/
info.vh

#make Makefile:
tmp/
*.o
/zasm

#eclipse files and folders
.cproject
.project
.settings
*.c.s
